#mmouter {
	margin: 30px auto 0;
	width: 602px;
	color: #000;
    font-family: Merriweather,Georgia,serif;
    font-size: 1.0625rem;
    line-height: 1.9375rem;
}

.pdb-parts-paidcontent-freeuntilbadge_open {
	display: none !important;
}

/* .pdb-parts-paidcontent-freeuntilbadge_close::before {} */

.pdb-parts-paidcontent-freeuntilbadge::before {
	display: none !important;
}